<div id="settings-header">
	<a href="javascript:void(0);" >×</a>
	<div class="user-info">
		<div class="row">
			<div class="col-md-4">
				<div class="curr-info">
					<%= image_tag("logo-self.png", class: "user-foto") %>
					<div class="user-details">
						<h3>云冬</h3>
						<p>前端工程师</p>
						<div class="user-links">
							<a href="http://tukomi.me" class="btn btn-primary">Blog</a>
							<a href=<%= users_path %> class="btn btn-success">CV Setting</a>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-8 digest">
				<p>他看到人生是一场无休、无歇、无情的战斗，凡是要做个够得上称为人的人，都得时时刻刻向无形的敌人作战：本能中那些致人死命的力量，乱人心意的欲望，暧昧的念头，使你堕落使你自行毁灭的念头，都是这一类的顽敌。他看到自己差点儿堕入深渊，也看到幸福与爱情只是一时的凄罔，为的是教你精神解体，自暴自弃。于是，这十五岁的清教徒听见了他的上帝的声音：“望前啊，望前啊，永远不能停下来。”</p>
        				<p>“可是主啊，上哪儿去呢？不论我干些什么，不论我上哪儿，结局不都是一样，不是早就摆在那里了吗？”</p>
        				<p>“啊，去死罢，你们这些不得不死的人！去受苦罢，你们这些非受苦不可的人！人不是为了快乐而生的，是为了服从我的意志的。痛苦罢！死罢！可是别忘了你的使命是做个人。——你就得做个人。”</p>
			</div>
		</div>
	</div>
</div>